@mixin font_style($font_family: (Arial, Helvetica, sans-serif), $font_size: 16px, $font_weight: 400, $line-height: 24px, $text_color: #333333) {
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
  line-height: $line-height;
  color: $text_color;
}

$width_content: 1172px;

main{
  display: flex;
  flex-direction: column;
}

.about span, .pluses li, .screenshots p{
  @include font_style;
}

main h2{
  @include font_style((Arial, Helvetica, sans-serif), 30px, 400, 36px, #445161)
}

.screenshots h4{
  @include font_style((Arial, Helvetica, sans-serif), 24px, 400, 30px, #445161)
}

.reviews p{
  @include font_style((Roboto, Helvetica, sans-serif), 14px, 400, 18px, #000000);
  font-style: italic;
}

.reviews address{
  @include font_style((Roboto, Helvetica, sans-serif), 14px, 400, 18px, #989898);
  font-style: italic;
}

.level{
  @include font_style((Arial, Helvetica, sans-serif), 24px, 400, 30px, #FFFFFF);
  background-color: #445161;
}

.about{
  display: flex;
  justify-content: space-between;
}

.about section{
  margin: 45px 0 92px 50px;
  width: 655px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about figure{
  margin: 45px 50px 50px 0;
  width: 430px;
  height: 245px;
  background-color: #445161;
}

.about h2{
  margin-bottom: 6px;
}

.pluses section, .screenshots{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pluses section{
  background: #F5F5F5;
}

.pluses h2{
  margin-top: 25px;
  align-self: center;
}

.pluses_points, .screenshots_expl{
  width: $width_content;
  display: flex;
  justify-content: space-between;
}

.pluses ul{
  width: 572px;
}

.pluses_points{
  margin: 29px 0 15px;
}

.pluses_points li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 33px;
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

.pluses details summary:before {
  content: '+';
  margin-right: 7px;
  padding: 0 10px;
  background-color: #445161;
  color: #FFFFFF;
  font-size: 36px;
}

.pluses details[open] summary:before {
  content: '-';
  padding: 0 15px;
}

.screenshots h2{
  margin-top: 25px;
}

.screenshots_expl{
  margin: 45px 0 51px;
}

.scrn {
  width: 575px;
}